.mtc .mtc__clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.mtc {
  padding-left: 0;
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.mtc.mtc__empty {
  padding: 1em 0;
}
.mtc .mtc__clickable {
  cursor: pointer;
  margin: 0 2px;
}

.mtc .mtc__collapse-expand-item {
  margin: 0 0.6rem;
}

.mtc .mtc__childless-item {
  margin-left: 2rem;
}

.mtc .mtc__indent {
  margin: 0 1.5rem;
}

.mtc .mtc__moveable {
  cursor: move;
}

.mtc .mtc__item {
  cursor: pointer;
}

.mtc .mtc__header {
  line-height: 2rem;
  width: 100%;
}

.mtc .mtc__act-group,
.mtc .mtc__header div {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.mtc .mtc__header.active {
  background: #e0e0e0;
}

.mtc .mtc__header:focus {
  color: blue;
  background-color: #cf5c3f;
}

.mtc .mtc__header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* .mtc .mtc__branch .mtc__act, */
.mtc .mtc__item .mtc__act-group {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  float: right;
  display: none;
}
.mtc .mtc__item .mtc__act-group {
  float: right;
}
.mtc .mtc__header:hover .mtc__act-group {
  visibility: visible;
  opacity: 1;
  display: inline-block;
}

.mtc .mtc__act {
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding: 0 0.3rem;
}
.mtc .mtc__act i {
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
  padding: 0 0.3rem;
}
.mtc .mtc__act:hover {
  background: #e0e0e0;
}
/* 
.mtc .mtc__branch .mtc__act {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  display: none;
} */

.mtc .mtc__branch:hover .mtc__act {
  visibility: visible;
  opacity: 1;
  display: inline-block;
}

.mtc ul.mtc__item-body {
  padding-left: 0.8rem;
}

.mtc ul.mtc__item-body > li {
  white-space: nowrap;
}

.mtc span.mtc__item-title {
  margin-right: 1rem;
}

.mtc .mtc__draggable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.mtc .mtc__draggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.mtc .mtc__as_child {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100&0+0,0.5+51,0+100 */
  background: -moz-linear-gradient(
    top,
    rgba(30, 87, 153, 0) 0%,
    rgba(41, 137, 216, 0.49) 50%,
    rgba(32, 124, 202, 0.5) 51%,
    rgba(125, 185, 232, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(30, 87, 153, 0) 0%,
    rgba(41, 137, 216, 0.49) 50%,
    rgba(32, 124, 202, 0.5) 51%,
    rgba(125, 185, 232, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(30, 87, 153, 0) 0%,
    rgba(41, 137, 216, 0.49) 50%,
    rgba(32, 124, 202, 0.5) 51%,
    rgba(125, 185, 232, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

.mtc .mtc__below {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+100,1e5799+100,1e5799+100&0+0,0.6+100 */
  background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(30, 87, 153, 0) 0%,
    rgba(30, 87, 153, 0.6) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(30, 87, 153, 0) 0%,
    rgba(30, 87, 153, 0.6) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#991e5799',GradientType=0 ); /* IE6-9 */
}

.mtc .mtc__above {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,1e5799+0,1e5799+0&0.6+0,0+100 */
  background: -moz-linear-gradient(top, rgba(30, 87, 153, 0.6) 0%, rgba(30, 87, 153, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(30, 87, 153, 0.6) 0%,
    rgba(30, 87, 153, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(30, 87, 153, 0.6) 0%,
    rgba(30, 87, 153, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#991e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */
}
