.tree-container .clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.tree-container {
  padding-left: 0;
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}
.tree-container.empty {
  padding: 1em 0;
}
.tree-container .clickable {
  cursor: pointer;
  margin: 0 2px;
}

.tree-container .collapse-expand-item {
  margin: 0 10px;
}

.tree-container .tree-item-no-children {
  margin-left: 34px;
}

.tree-container .indent {
  margin: 0 28px;
}

.tree-container .moveable {
  cursor: move;
}

.tree-container .tree-item {
  cursor: pointer;
}

.tree-container .tree-item-header.active {
  background: #e0e0e0;
}

.tree-container .tree-item-header:focus {
  color: blue;
  background-color: #cf5c3f;
}

.tree-container .tree-item-header {
  line-height: 36px;
  width: 100%;
}

.tree-container .tree-item-header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.tree-container .tree-item .act-group {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  float: right;
  display: none;
}
.tree-container .tree-item-header:hover .act-group {
  visibility: visible;
  opacity: 1;
  display: inline-block;
}

.tree-container .act {
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding: 0 0.3rem;
}
.tree-container .act i {
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
  padding: 0 0.3rem;
}
.tree-container .act:hover {
  background: #e0e0e0;
}

.tree-container .tree-branch .act {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  display: none;
}

.tree-container .tree-branch:hover .act {
  visibility: visible;
  opacity: 1;
  display: inline-block;
}

.tree-container ul.tree-item-body {
  padding-left: 0.8rem;
}

.tree-container ul.tree-item-body > li {
  white-space: nowrap;
}

.tree-container span.tree-item-title {
  margin-right: 1rem;
}
